.LOL{
    border-radius: 20px;
    background-color: aqua;

    width: 1575px;
    font-family: fantasy;
}

.one{
    border-radius: 20px;
    background-color: rgb(0, 183, 255);

    width: 1575px;
    font-family:cursive;
}

.two{
    border-radius: 20px;
    background-color: rgb(0, 183, 255);

    width: 1575px;
    font-family:cursive;
}

.three{
    border-radius: 20px;
    background-color: rgb(0, 183, 255);

    width: 1575px;
    font-family:cursive;
}